
<style>
    body {
        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #bcc7e7;
    }

    h1 {
        font-weight: bold;
        color: #2c3e50;
    }

</style>

<div class="mb-3 mt-3 text-center">
    <h1 class="mb-4">Add New Student</h1>
</div>

<div class="container my-5">
    <div class="card shadow-lg w-50 mx-auto">
        <div class="card-body">
            <form method="post" action="/Student/SaveNewStudent">
                <div class="mb-3">
                    <label class="form-label fw-semibold">Student Name</label>
                    <input type="text" class="form-control" name="Name" placeholder="Enter student name" required>
                </div>

                <div class="mb-3">
                    <label class="form-label fw-semibold">Student ID</label>
                    <input type="number" inputmode="numeric" class="form-control" name="StudentID" placeholder="Enter student ID" required>
                </div>

                <div class="mb-3">
                    <label class="form-label fw-semibold">Email</label>
                    <input type="email" class="form-control" name="Email" placeholder="Enter email address" required>
                </div>

                <button type="submit" class="btn btn-success w-100 fw-bold">Create</button>
            </form>
            <a href="/Student/index" class="btn btn-primary w-100 fw-bold mt-3">Cancel</a>
        </div>
    </div>
</div>
